
.big {
	font-size: 1.5em;
}
.maroonRoundRect {
	color: maroon;
	background-color: gold;
	margin:1em;
    border:silver solid thin;
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
    padding: 1em; 
    line-height:2;
}